<!-- No active reservations -->
<div  *ngIf="code">
  <div class="row">
    <div class="col">
      <p>Please scan the below code in the iPhone you want to reserve</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <qrcode [qrdata]="code" [size]="256" [level]="'L'"></qrcode>
    </div>
  </div>
</div>

<!-- Active reservations are present -->
<div *ngIf="isAlreadyInReservation">
  <div class="row">
    <div class="col">
      <p>Your reservation details are as follows:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Device: {{reservedDevice ? reservedDevice.deviceName : '...'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Start Time: {{activeReservation.startTime | date:'medium'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>End Time: {{activeReservation.endTime | date:'medium'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="releaseDevice()" [disabled]="">Release device</button>
    </div>
  </div>
</div>

<div *ngIf="isDeviceReleased">
  <div class="row">
    <div class="col">
      <p>Device has been released! Thank you.</p>
    </div>
  </div>    
</div>

<!-- Placeholder -->
<div *ngIf="!code && !isAlreadyInReservation && !isDeviceReleased">
  <div class="row">
    <div class="col">
      <p>Please wait while we fetch your details...</p>
    </div>
  </div>
</div>